a {
  color: black;
}

.black {
  color: black;
}

.btn-block,
.alert {
  width: 300px !important;
}

.mar-2 {
  margin: 2rem;
}

ol,
.font {
  font: 25px "Arial", san-serif;
}

.container {
  width: 60% !important;
  padding-left: 3rem !important;
  background-color: #ebe7e4;
}

.plus {
  cursor: pointer;
}

hr.new1 {
  border-top: 4px solid red;
}

.set {
  width: 300px !important;
  padding: 0;
}

.pad2 {
  padding-top: 1rem;
}

.pad1 {
  padding-left: 0.5rem;
}

.opw {
  width: 500px !important;
}

.fontset {
  font: 15px "Arial", san-serif;
}

.checkbox {
  transform: scale(2);
}

.marb2 {
  margin-bottom: 1rem;
}
