a {
  color: inherit;
}

.btn-block,
.alert {
  width: 200px !important;
}

.mar-2 {
  margin: 2rem;
}

ol {
  font: 25px "Arial", san-serif;
}

.container {
  width: 60% !important;
  padding-left: 3rem !important;
  background-color: #ebe7e4;
}
